<link href='http://kevinburke.bitbucket.org/markdowncss/markdown.css'' rel='stylesheet'></link>

<h1 id="ngrange">ngRange</h1>
<p>A simple AngularJS filter to allow range iteration in an ng-repeat directive.</p>
<h2 id="why-">Why?</h2>
<p>Some times you need to have an ng-repeat do a given number of iterations that is not intrinsically tied to an object or array in the scope. This is an edge case not supported by AngularJS, so this module is a stand-in.</p>
<h2 id="how-does-it-work-">How does it work?</h2>
<p>A range is used as follows:</p>
<p><code>&lt;div ng-repeat=&quot;n in [5, 10] | range&quot;&gt;The value of n is  {{n}}&lt;/div&gt;&quot;</code></p>
<p>This div will be repeated for values of n from 5 to 9 inclusive.</p>
<p>If only a single argument is given, an implicit 0 is inserted as the lower bound. This allows syntax like this:</p>
<p><code>&lt;div ng-repeat=&quot;n in [10] | range&quot;&gt;The value of n is  {{n}}&lt;/div&gt;&quot;</code></p>
<p>Which will repeat for values of n from 0 to 9.</p>
<p>The upper bound of a range is not inclusive.</p>
<h2 id="installation">Installation</h2>
<p><code>bower install ngRange</code></p>
<p>make sure ngRange/dist/ngRange.js is loaded before your angular module. ngRange is wrapped in the Universal Module Definition so it supports AMD, CommonJS, and plain ol&#39; global declaration via script tag.</p>
<p>Make your angular module require the &#39;ngRange&#39; module and then you&#39;re ready to use the range filter in your templates.</p>
<h2 id="development">Development</h2>
<p>You&#39;ll need to clone this repository, have gulp installed globally (via <code>npm install -g gulp</code>) and then run <code>npm install</code>.</p>
<p>Once you&#39;re set up run <code>gulp build</code> to convert the source to a js file in /dist or simply run <code>gulp</code> to build continuously with a watcher. The code in /example points to the version in /dist as a dead-simple way of testing.</p>
<h2 id="future">Future</h2>
<p>Not much of a roadmap for something this simple. Issues and pull requests however, are welcome.</p>
